module.exports = {
  myIndex: function(a, b) {
    if(a.length!=null){
    for(var i = 0;i<a.length;i++){
      if(a[i]==b){
        return true
      }
    }
  }
    return false
  },

  readed:function(a) {
    if(a==true){
      return "rgb(226, 191, 95)"
    }
    else{
      return "rgb(91, 255, 132)"
    }
  }
};